<div class="container mt-5 col-lg-4">
    <form action="/url/new" method="POST">
       <div class="form-group">
            <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="url" placeholder="Input URL here">
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-outline-primary mt-3">Shorten</button>
        </div>
   </form>
</div>